.ant-layout-header {
    background: white;
    border-bottom: 1px solid #ececec;
    height: 60px;
    padding-left: 25px;
};
.logo {
    padding-top: 15px;
    background: transparent;
}
.logo img{
    height: 29px;
    float: left;
}